#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
#  dh command outputs which dh_* commands it is executing
DH_VERBOSE = 1
# each dh_* command outputs which commands it is executing
DH_OPTIONS=-v

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# get version from changelog
DRV_NAME := r8125
VERSION := $(shell dpkg-parsechangelog -S Version | awk -F "-" '{print $$1}')


%:
	dh $@


override_dh_auto_configure:
	sed -i 's/R8125B-VERSION/$(VERSION)/g' debian/postinst
	chmod a+x debian/preinst
	chmod a+x debian/postinst
	chmod a+x debian/prerm
	chmod a+x debian/postrm
	# set rss
	sed -i 's/ENABLE_MULTIPLE_TX_QUEUE = n/ENABLE_MULTIPLE_TX_QUEUE = y/g' driver/src/Makefile
	sed -i 's/ENABLE_RSS_SUPPORT = n/ENABLE_RSS_SUPPORT = y/g' driver/src/Makefile
	sed -i 's/CONFIG_ASPM = y/CONFIG_ASPM = n/g' driver/src/Makefile



override_dh_install:
	# set new kernel version when apt upgrade 
	sed -i 's/uname -r/echo "$(KERNELVER)"/g' driver/Makefile
	sed -i 's|$(MAKE) -C src|$(MAKE) -C src/ KERNELVER=$(KERNELVER)|g' driver/Makefile
	sed -i 's/shell uname -r/KERNELVER/g' driver/src/Makefile
	sed -i 's/shell uname -r/KERNELVER/g' driver/src/Makefile_linux24x
	dh_install driver/* usr/src/$(DRV_NAME)-$(VERSION)
	dh_install dkms.conf usr/src/$(DRV_NAME)-$(VERSION)


# Nothing to configure, build or auto-install
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:
override_dh_auto_clean: